*{
    box-sizing: border-box;
}

body{
    margin:0;
}
.carousel{
    position: relative;
    width: 300px;
    height: 300px;  
    overflow: hidden;
}
.container{
    display: flex;
    height: 100%;
}
.container > img{
    min-width: 100%;
}
.btn-prev,
.btn-next{
    position: absolute;
    top:50%;
    transform:  translateY(-50%);
    font-size: 60px;
    height: 1em;
    width: 1em;
    line-height: 1;
    cursor: pointer;
    background: inherit;
    color:aliceblue;
    border: inherit;
    padding:0;
}
.btn-prev{
    left:0;
}
.btn-next{
    right: 0;
}
.container{
    transition: transform 0.3s ease-in-out;
}

